.Poster-figure {
    background: #111;
    width: 100vw;
    height: 90vh;
    margin: 0;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.Poster-figure img {
    width: auto;
    height: 100%;
    position: absolute;
}