.trailers {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trailers iframe {
  border: 0;
}

.details-main {
  padding: 1rem 1rem 0;
}

.details-figure {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.details-poster {
  max-height: 100vh;
  width: auto;
}

.details-title {
  margin: 0;
}

.details-subtitle {
  margin: 0 0 0.5rem;
}

.credit-container {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .credit-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .credit-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.credit-entry {
  margin: 0 0 24px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.credit-entry a {
  text-decoration: none;
}

.creidt-entry a:hover {
  text-decoration: underline;
}

.credit-name {
  border-bottom: 1px dotted;
}

.credit-img-container {
  padding-right: 8px;
}

.credit-img {
  height: 120px;
  width: auto;
}

.credit-character,
.credit-played {
  font-size: 1rem;
}

.credit-character {
  margin: 0;
}

.credit-played {
  margin: 0;
}
