:root {
  --default-background: rgb(245, 244, 245);
  --default-color: #333;
  --default-color-alternate: rgba(200, 210, 200, 0.9);

  --z-nav: 10;
  --nav-height: 48px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-background: rgb(50, 50, 50);
    --default-color: #fff;
    --default-color-alternate: rgba(100, 100, 100, 0.9);
  }
}

/* THeme  */

:root {
  --background-base: var(--default-background);
  --color-base: var(--default-color);
}
