:root {
	--default-background: 255, 240, 255;
	--default-color: #333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--default-background: 50, 50, 50;
		--default-color: #eee;
	}
}

/* THeme  */

:root {
	--background-base: var(--default-background);
	--color-base: var(--default-color);
}
