@keyframes searchEntry {
  from {
    opacity: 0.5;
    transform: translateY(50%) scale(0.4);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animateIn {
  animation: searchEntry 100ms ease-in-out  forwards;
}

.animateOut {
  animation: searchEntry 100ms linear once backwards;
}

.search-container {
  background: rgba(var(--default-background), 0.95);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  opacity: 0;
  z-index: 2;
}

.search-close-button  {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  font-size: 32px;
  text-align: center;
  line-height: 50px;;
  border-radius: 50%;
  box-shadow: 0;
  border: 0;
}

.search-form {
  position: absolute;
  top: 20px;
  left: 40px;
}

.search-results-container {
  margin-top: 60px;
  display: flex; 
  flex-direction: row;
}

.search-results-movies {
  margin: 0;
  padding: 0;
}

.search-results-actors {
  margin: 0;
  padding: 0;
}