.Nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0 8px;
    background: rgba(var(--background-base), 0.95);
    z-index: var(--z-nav);
}

.Nav a {
    line-height: 44px;
    padding: 0 0;
    margin: 0 12px;
    text-decoration: none;
    color: var(--color-base);
    border-bottom: 1px solid var(--default-color-alternate);
}
